@charset "utf-8";
/* css by Datnt */
#signup-form label {
    font-weight: bold;
    line-height: 28px;
    width: 100%;
}
#signup-form input {
    margin-bottom: 10px;
    padding: 5px 2%;
    width: 95%;
}
#signup-form select {
    margin-bottom: 10px;
    padding: 10px 2% 8px;
    width: 99%;
}
#signup-form textarea {
    height: 140px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 5px 0 5px 2%;
    width: 97%;
}
#signup-form button {
    font-weight: 600;
    padding: 0 38px;
}
#signup-form button span {
    background: url("./images/arrow-right.png") no-repeat scroll left 1px transparent;
    padding-left: 16px;
}