<div class="block block-quicklinks">
    <ul>
        <li class="first"><a href="{{ url:site }}contact"><i class="icon-letter"></i> Contact & support</a></li>
        <li class=""><a href="{{ url:site }}information-advertiser"><i class="icon-info-sign"></i> Information & advertiser</a></li>
        <li class=""><a href="{{ url:site }}term"><i class="icon-book"></i> Terms & conditions</a></li>
        <li class=""><a href="{{ url:site }}privacy-policy"><i class="icon-lock"></i> Privacy policy</a></li>
        <li class=""><a href="{{ url:site }}how-it-word"><i class="icon-question-sign"></i> How it work</a></li>
        <li class="last"><a href="{{ url:site }}faq"><i class="icon-pencil"></i> FAQ</a></li>
    </ul>
</div>