<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <ul class="footer-link clear">
                    <li class="first"><a href="#">About us</a></li>
                    <li class=""><a href="#">Contact & support</a></li>
                    <li class=""><a href="#">Information & advertiser</a></li>
                    <li class=""><a href="#">Terms & conditions</a></li>
                    <li class="last"><a href="#">Privacy policy</a></li>
                </ul>
                <address>Copyright © 2013 ScienceHub. All Rights Served.</address>
            </div>
            <div class="span3">
                <ul class="social right">
                    <li class="youtube"><a href="http://youtube.com">youtube</a></li>
                    <li class="facebook"><a href="http://facebook.com">facebook</a></li>
                    <li class="googlep"><a href="http://google.com">google plus</a></li>
                    <li class="twitter"><a href="http://twitter.com">twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</section>
</body>
</html>