<section id="navbar">
    <div class="container">
        <div class="row-fluid">
            <div class="span7"></div>
            <form id="search_mini_form" class="right span5" method="get" action="#">
                <div class="form-search clear">
                    <input type="text" maxlength="128" class="input-text" value="" name="search" id="search" />
                    <button class="button" title="Search" type="submit"><span>Search</span></button>
                    <a class="button advance_search" href="#" title="">+ Advance</a>
                </div>
            </form>
        </div>
    </div>
</section>