<section id="navbar">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <h4>Company Account</h4>
            </div>
            <div class="span8 menu">
                <ul id="nav">
                    <li class="level0 first "><a href="{{url:site}}dashboard" title="Dashboard"><span>Dashboard</span></a></li>
                    <li class="level0 parent">
                        <a href="{{url:site}}me" title="Profile"><span>Profile</span></a>
                        <ul class="level0">
                            <li class="level1 first"><a href="{{url:site}}" title="Company Profile"><span>Company Profile</span></a></li>
                            <li class="level1"><a href="{{url:site}}" title="Employees list"><span>Employees list</span></a>
                                <ul class="level1">
                                    <li class="level2 first"><a href="#" title="Company Profile"><span>Company Profile</span></a></li>
                                    <li class="level2"><a href="{{url:site}}" title="Employees list"><span>Employees list</span></a></li>
                                    <li class="level2 last"><a href="{{url:site}}" title="Settings"><span>Settings</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 last"><a href="{{url:site}}" title="Settings"><span>Settings</span></a></li>
                            <li class="level1 last"><a href="{{url:site}}add-article" title="Settings"><span>Add Article</span></a></li>
                        </ul>
                    </li>
                    <li class="level0  "><a href="{{url:site}}" title="Comunications"><span>Comunications</span></a></li>
                    <li class="level0  "><a href="{{url:site}}" title="My Library"><span>My Library</span></a></li>
                    <li class="level0 last "><a href="{{url:site}}" title="Finances"><span>Finances</span></a></li>
                </ul>
            </div>
            <div class="span2 name">
                <a href="{{url:site}}logout" class="right">{{sr_template:get_user_name}}</a>
            </div>
        </div>
    </div>
</section>