body {
    padding-top: 10px;
    padding-bottom: 40px;
}
img{width: 100%;height: 100%;}
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.container{max-width: 98%;}
.dropdown-header{text-transform: uppercase;font-weight: bold;}
/*******************CUSTOM HEADER*********************/
.header-items{line-height: 60px;}
.header-items li{float: left;list-style: none;margin-left: 10px;}
.nav-top > li{min-width: 150px;}
.add-item,.back-top{margin-top: 20px;}
.col-checkbox{background: none !important;width: 50px !important;text-align: center;}
.panel .col-checkbox{width: 20px !important;}
#example_wrapper{margin-top: 10px;}
.search-date{min-width: 100px !important;}
.form-row{margin-top: 10px;}
.col-save{width: 50px !important;text-align: center;}
.margin20{margin-left: 20px;}
#model-view-tabs{border-bottom: none;}
#model-view-tabs li{list-style: none;}
table th.action,table td.action{width: 135px !important;}
table th.action3,table td.action3{width: 180px !important;}
.alert{padding: 5px 15px;}
form .alert{max-width: 800px;margin: 0 auto;}
.alert ul li{list-style: none;}
#upload-form .control-label{text-align: right;}
#show-msg{float: left;margin-bottom: 30px;width: 100%;}