@charset "utf-8";
/* CSS Document */

body{
    font-size:18px;
    line-height:28px;
    color:#0d3161;
    font-family:arial;
    margin:0px;
    padding:0px;
    min-width:768px;
    min-height:1022px;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('./fonts/helveticaneue.eot');
    src: url('./fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
    url('./fonts/helveticaneue.woff') format('woff'),
    url('./fonts/helveticaneue.ttf') format('truetype'),
    url('./fonts/helveticaneue.svg#helveticaneue') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {margin:0px; padding:0px}
ul,li {list-style:none}
a:focus{outline:0}
a{text-decoration:none}
a:hover{}

/*Headings*/
h1, h2, h3,
h4, h5, h6{line-height:1.5em; margin:0px; font-weight:bold; margin-bottom:20px}
h1{font-size:38px; text-shadow:0 0 18px #fff;font-family:helveticaneue}
h2{font-size:30px}
h3{font-size:18px}
h4 {font-size:14px}
h5 {font-size:12px}
textarea,
input{border-radius:2px; border:none;color:#999999;}

strong{font-weight:bold}
img{max-width:100%}
p{margin-bottom:30px}
.container {margin:0 auto; width:768px}

body {background:url(./images/bg.png) center top repeat-y #ddd;}
#wrapper {background:url(./images/bg_wrap.png) center bottom no-repeat; min-height:1022px;margin:0 auto; width:768px}
header{position:relative}
.logo1 {width:114px; height:94px; position:absolute; top:45px; left:70px}
.logo2 {width:209px; height:170px; position:absolute; top:0px; right:0px}

#content {min-height:542px; padding:16px 40px 10px; text-align:center}
p.note {font-size:16px; font-style:italic}

.god{font-size:25px}
.luck{font-size:45px;font-family:Impact;}

form{}
.fieldset {text-align:left; margin-bottom:16px}
.fieldset > div {width:50%; float:left}
.fieldset label {font-size:15px;text-shadow:0 0 18px #fff; text-align:center;font-size:bold}
.fieldset label.note {font-size:13px;}
.fieldset input[type=text],.fieldset input[type=email]{text-shadow:0 0 8px #fff;height:40px; line-height:40px;padding:0px 10px; width:280px; border:1px solid #ddd; background:#fff}

.fieldset .mobile label.note {float:left; line-height:40px; padding:0px 5px}
.fieldset .mobile input{width:72px;float:left}


footer {position:relative}
.baseball {width:130px; position:absolute;top:-75px; left:30px}
.footer{padding:9px 5px 5px 16px}
.footer-bottom{background:#014289; font-size:10px; line-height:12px; padding:5px 20px; color:#fff;text-align: justify;font-family:helveticaneue}


/****/


.right {float:right}
.left {float:left}
.clear:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
#txtRule{outline-color:#014289;}
#messages{height: 25px;}